/* Define CSS Variables for Theme Colors */
:root {
    --font-family: 'Arial', sans-serif;
    --transition-duration: 0.5s;
    --bg-light: #cbced1; /* Light theme background color: RGB(203, 206, 209) */
    --bg-dark: #0e1015; /* Dark theme background color: RGB(14, 16, 21) */
    --text-light: #fff;
    --text-dark: #081f3d; /* Dark blue for text in light mode */
    --primary: #66ccff; /* Cool blue for the light theme subtitle */
    --secondary: #ecc94b;
    --secondary-hover: #d69e2e;
    --gray-light: #e2e8f0;
    --gray-dark: #3b475a;
    --gray-darker: #2c3e50;
    --cool-glow: #66ccff;
    --box-shadow-main: 0 8px 16px rgba(0, 0, 0, 0.2);
    --box-shadow-hover: 0 12px 24px rgba(0, 0, 0, 0.4);
    --border-radius: 1rem;
}


/* General Styles */
body {
    font-family: var(--font-family);
    transition: background-color var(--transition-duration), color var(--transition-duration);
    background-color: var(--bg-dark); /* Default dark mode background */
    color: var(--text-light);
}

body.light-mode {
    background-color: var(--bg-light); /* Light mode background */
    color: var(--text-dark);
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Header Styles */
header {
    background-color: #1d2430; /* Dark theme header background color: RGB(29, 36, 48) */
    color: var(--text-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: var(--box-shadow-main);
    z-index: 1000;
}

body.light-mode header {
    background-color: var(--bg-light); /* Light theme header background color */
    color: var(--text-dark);
}

/* Header Links */
header a {
    color: var(--text-light);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color var(--transition-duration);
}

header a:hover {
    color: var(--secondary);
}

body.light-mode header a {
    color: var(--text-dark);
}

body.light-mode header a:hover {
    color: var(--primary);
}


/* Theme Toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: var(--gray-dark);
    border-radius: 25px;
    transition: background-color var(--transition-duration);
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--text-light);
    border-radius: 50%;
    transition: transform var(--transition-duration);
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

input:checked + .slider {
    transform: translateX(25px);
    background-color: var(--secondary);
}

/* Light Mode Adjustments */
body.light-mode #file-hub-title {
    color: #081f3d; /* Dark blue color for the title in light mode */
}

body.light-mode #file-hub-subtitle {
    color: var(--primary); /* Cool blue color for the subtitle in light mode */
}

/* Title and Subtitle Styles */
#file-hub-title {
    font-size: 4rem; /* Grand appearance */
    font-weight: 800;
    text-align: center;
    margin-top: 3rem;
    color: var(--text-light);
    letter-spacing: 0.1rem;
}

#file-hub-subtitle {
    font-size: 1.75rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    color: var(--secondary);
    font-weight: 600;
}


/* Light Mode Adjustments */
body.light-mode #file-hub-title {
    color: var(--text-dark);
}

/* Light Mode Adjustments */
body.light-mode #file-hub-title {
    color: var(--text-dark); /* Dark blue color for the title in light mode */
}

body.light-mode #file-hub-subtitle {
    color: var(--primary); /* Cool blue color for the subtitle in light mode */
}

/* Theme Toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: var(--gray-dark);
    border-radius: 25px;
    transition: background-color var(--transition-duration);
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--text-light);
    border-radius: 50%;
    transition: transform var(--transition-duration);
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

input:checked + .slider {
    transform: translateX(25px);
    background-color: var(--secondary);
}


/* File Hub Section */
#file-hub {
    padding: 4rem 2rem;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

/* Folder Item Styles */
.folder-item {
    background: linear-gradient(145deg, var(--gray-dark), var(--gray-darker));
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-main);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    color: var(--text-light);
}

.folder-item:hover {
    transform: translateY(-0.25rem) scale(1.05);
    box-shadow: var(--box-shadow-hover);
    /* Keep the background color unchanged on hover */
}

.folder-icon {
    font-size: 5rem;
    color: var(--secondary);
    transition: color 0.3s ease;
}

.folder-item:hover .folder-icon {
    color: var(--text-light);
}

.folder-item h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--text-light);
    font-weight: 600;
}

/* Light Mode Adjustments */
body.light-mode .folder-item {
    background: linear-gradient(145deg, var(--gray-light), var(--bg-light));
    color: var(--text-dark);
}

body.light-mode .folder-item:hover {
    background: linear-gradient(145deg, var(--gray-light), var(--bg-light)); /* Keep background color unchanged on hover */
}

body.light-mode .folder-icon {
    color: var(--secondary);
}

body.light-mode .folder-item h3 {
    color: var(--text-dark);
}

/* Folder Content Links */
.folder-content a {
    display: block;
    margin: 0.5rem 0;
    font-size: 1rem;
    color: var(--secondary);
    text-decoration: none;
    transition: color 0.3s ease;
}

.folder-content a:hover {
    color: var(--primary);
}

body.light-mode .folder-content a {
    color: var(--primary);
}

body.light-mode .folder-content a:hover {
    color: var(--secondary-hover);
}

/* Footer Styles */
footer {
    background-color: #1d2430; /* Dark theme footer background color matching the header */
    padding: 2rem;
    text-align: center;
    color: var(--text-light);
    transition: background-color var(--transition-duration), color var(--transition-duration);
}

body.light-mode footer {
    background-color: var(--bg-light);
    color: var(--text-dark);
}

footer .social-media a {
    margin: 0 0.5rem;
    color: var(--secondary);
    transition: color 0.3s ease;
}

footer .social-media a:hover {
    color: var(--secondary-hover);
}

body.light-mode footer .social-media a {
    color: var(--text-dark);
}

body.light-mode footer .social-media a:hover {
    color: #004080;
}

/* Utility Classes for Animations */
.animate-fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.animate-fade-in-delay {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transition-delay: 0.5s;
}